a {
    margin-left: 25px;
    font-family: Calibri, sans-serif;
    margin-top: 0px;
}

h2 {
    margin-bottom: 0px;
    font-family: Calibri, sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-family: Calibri, sans-serif;
}

h5 {
    margin-top: 0px;
    font-family: Calibri, sans-serif;
}

fieldset{
    margin: 5px;
    border-color: black;
}

.pic{
    width: 75px;
    height:75px;
    margin-left: 6px;
}

.presentation {
    display: inline-flex;
}

.name{
    margin-left: 12px;
}
