a {
    margin-left: 25px;
    font-family: Calibri, sans-serif;
    margin-top: 0px;
}

h2 {
    margin-bottom: 0px;
    font-family: Calibri, sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-family: Calibri, sans-serif;
}

h5 {
    margin-top: 0px;
    font-family: Calibri, sans-serif;
}

fieldset{
    margin: 5px;
    border-color: black;
    box-shadow: 5px 5px 5px #555;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.pic{
    width: 80px;
    height:80px;
    margin-left: 6px;
    border-radius: 40px;
}

.presentation {
    display: inline-flex;
}

.name{
    margin-left: 12px;
}
