
<h1>This is the details view!</h1>
<section class="wrapper">
    <button class="btn btn-save home" data-ng-click="setRoute()">Go Back Home!</button>
</section>

<section class="mainContainer">
<section class="detContainer">
<section class="detMainContainer">

    <img src="http://i.imgur.com/DqRoJ7I.jpg" id="imageMovie" class="moviePic" alt="movie poster"/>

    <section class="detInfo">
        <h2 id="titleMovie"></h2>
        <h4 id="yearMovie"></h4>
        <h5 id="durationMovie"></h5>
        <h5 id="descriptionMovie"></h5>
    </section>

</section>
</section>
</section>